<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Success</title>
	</head>
	<body>
		<h1>The Information you Submitted:</h1>
		<h3>Name: <%= name %></h3>
		<h3>Dojo Location: <%= location %></h3>
		<h3>Favorite Language: <%= language %></h3>
		<h3>Comments: <%= comments %></h3>
	</body>
</html>
